<footer class="footer mt-auto py-3">
    <div class="container">
      <hr>
      <div class="row">
        <!-- About Section -->
        <div class="col-md-6 text-md-start text-center">
          <h5>Ploid: Leading AI for Biotech</h5>
          <div class="pb-3">
            <span class="text-muted">&copy; 2024 Ploid AI Biotech. All rights reserved.</span>
          </div>
        </div>
        
        <!-- Social Media & Contact -->
        <div class="col-md-6 text-md-end text-center">
          <div>
            <a class="btn" href="https://twitter.com/{{ site.seo.twitter.username }}" target="_blank"><i class="fab fa-x-twitter"></i> Twitter</a>
            <a class="btn" href="https://www.linkedin.com/company/{{ site.seo.linkedin.username }}" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
          </div>
          <div>
            <a class="btn" href="mailto:{{ site.emails.contact }}">Contact Us</a>
            <a class="btn" href="mailto:{{ site.emails.jobs }}">Jobs</a>
            <a class="btn" href="/terms-of-service">Terms of Service</a>
            <a class="btn" href="/privacy-policy">Privacy Policy</a>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col text-center">
            
        </div>
        </div>
    </div>
</footer>
