<!-- Google Analytics Consent Grant -->
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('consent', 'default', {
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'wait_for_update': 500,
    });
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google }}');

    function allConsentGranted() {
        gtag('consent', 'update', {
        'ad_user_data': 'granted',
        'ad_personalization': 'granted',
        'ad_storage': 'granted',
        'analytics_storage': 'granted'
        });
        localStorage.setItem('consent', 'granted');
        const consentBanner = document.getElementById('consent-banner');
        consentBanner.remove();
    }

    function allConsentDenied() {
        gtag('consent', 'update', {
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
        });
        localStorage.setItem('consent', 'denied');
        const consentBanner = document.getElementById('consent-banner');
        consentBanner.remove();
    }
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google }}');
</script>
